In [2]:
import pandas as pd

fake_df = pd.read_csv("../data/Fake.csv", encoding="latin-1")
true_df = pd.read_csv("../data/True.csv", encoding="latin-1")

print(fake_df.shape)
print(true_df.shape)

fake_df.head(2)

C:\Users\sheik\AppData\Local\Temp\ipykernel_20832\2105706215.py:3: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake_df = pd.read_csv("../data/Fake.csv", encoding="latin-1")

(23502, 172)
(21417, 4)

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Keep only the useful columns
fake_df = fake_df[['title', 'text', 'subject', 'date']]
true_df = true_df[['title', 'text', 'subject', 'date']]

print(fake_df.shape)
print(true_df.shape)

(23502, 4)
(21417, 4)

In [4]:
fake_df['label'] = 0
true_df['label'] = 1

In [5]:
df = pd.concat([fake_df, true_df], axis=0)
df = df.sample(frac=1).reset_index(drop=True)  # shuffle

print(df.shape)
df.head(2)

(44919, 5)

,title,text,subject,date,label
0,New York Mayor de Blasio wins re-election in w...,NEW YORK (Reuters) - Democratic New York City ...,politicsNews,07-Nov-17,1
1,"Typhoon bears down on Japan, will hinder votin...",TOKYO (Reuters) - Typhoon Lan with heavy rains...,worldnews,20-Oct-17,1